
body {
  background-color: #212121;
  color: #fff;
}
.center {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#clock {
    font-size: 80px;
    background-color: orange;
    padding: 27px 53px;
    margin-top: 20px;
    border-radius: 35px;

}
